:root {
  --primary-color: #0b90b1;
  --secondary-color: #002e3a;
  --tertiary-color: #abc8ca;
}

.App-header {
  background-image: url(./assets/leopard.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* CARDS */
.card {
  margin: 15px;
  border: 3px solid var(--secondary-color);
  width: 45%;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.card-header {
  color: var(--secondary-color);
  margin: 0;
  padding: 0.625rem;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

.flex {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  background-color: var(--secondary-color);
  padding: 5px;
}

.icons {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

footer li {
  text-decoration: none;
  padding: 10px;
  list-style: none;
}

.grid {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5%;
  width: 100%;
}

.image {
  opacity: 50%;
  width: 90%;

}

.image:hover {
  opacity: 100%;
}

.navigation {
  justify-content: right;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.navActive {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

nav li {
  padding: 20px;
  font-size: calc(12px + 2vmin);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
}

header nav ul li:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-shadow: none;
}

.profPic {
  margin-left: 2.5%;
  width: 20%;
  display: flex;
  flex-direction: row;
}

.profile {
  display: flex;
  flex-direction: row;
}

.title {
  width: 100%;
}

.bio {
  width: 75%;
  margin-left: 2.5%;
  font-size: 1.5vw;
}
  
  /* Contact style begin */
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

label {
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
.form-input {
    border-radius: 20px;
    padding: .2rem .8rem;
    font-size: 1.5rem;
    border: 1px solid var(--secondary);
    margin-bottom: 1rem;
}

#button {
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: var(--primary-color);
    width: 30%;
    padding: .3rem;
    align-items: center;
}
#button:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.error-text {
    font-size: 2rem;
}

/* Contact style end */